---
title: Index page
---
{% extends "layouts/_layout.html" %}

{% block content %}

<nav id="fp-nav" class="fp-right">
	<ul>
		<li>
			<a href="#full-section-1" class="fp-nav__link  active"><span></span></a>
			<span class="fp-tooltip right">fullPage</span>
		</li>
		<li>
			<a class="fp-nav__link" href="#full-section-2"><span></span></a>
			<span class="fp-tooltip right">fullPage</span>
		</li>
		<li>
			<a class="fp-nav__link" href="#full-section-3"><span></span></a>
			<span class="fp-tooltip right">fullPage</span>
		</li>
		<li>
			<a class="fp-nav__link" href="#full-section-4"><span></span></a>
			<span class="fp-tooltip right">fullPage</span>
		</li>
		<li>
			<a class="fp-nav__link" href="#full-section-5"><span></span></a>
			<span class="fp-tooltip right">fullPage</span>
		</li>
	</ul>
</nav>
	
<section class="full-section" id="full-section-1" style="background-color: #fec401;">
	<div class="container">	
		<h2>1 Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis deleniti aliquam ad, quasi molestias fugiat quidem nemo consequuntur sit ipsa, laboriosam quos eligendi. Tenetur inventore, repellat rem recusandae quibusdam velit!</p>
	</div>
</section>

<section class="full-section" id="full-section-2" style="background-color: #0798ec;">
	<div class="container">	
		<h2>2 Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis deleniti aliquam ad, quasi molestias fugiat quidem nemo consequuntur sit ipsa, laboriosam quos eligendi. Tenetur inventore, repellat rem recusandae quibusdam velit!</p>
	</div>
</section>

<section class="full-section" id="full-section-3" style="background-color: #fc6c7c;">
	<div class="container">	
		<h2>3 Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis deleniti aliquam ad, quasi molestias fugiat quidem nemo consequuntur sit ipsa, laboriosam quos eligendi. Tenetur inventore, repellat rem recusandae quibusdam velit!</p>
	</div>
</section>

<section class="full-section" id="full-section-4" style="background-color: #2fd069;">
	<div class="container">	
		<h2>3 Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis deleniti aliquam ad, quasi molestias fugiat quidem nemo consequuntur sit ipsa, laboriosam quos eligendi. Tenetur inventore, repellat rem recusandae quibusdam velit!</p>
	</div>
</section>

<section class="full-section" id="full-section-5" style="background-color: #ae81ff;">
	<div class="container">	
		<h2>3 Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis deleniti aliquam ad, quasi molestias fugiat quidem nemo consequuntur sit ipsa, laboriosam quos eligendi. Tenetur inventore, repellat rem recusandae quibusdam velit!</p>
	</div>
</section>


{% endblock %}
